<hr>
<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="social">
					#if(null!=sys_info.social_github)
					<a class="github" target="_blank" href="https://github.com/${sys_info.social_github}" title="github">github</a>
					#end
					#if(null!=sys_info.social_weibo)
					<a class="weibo" target="_blank" href="http://weibo.com/${sys_info.social_weibo}" title="weibo">weibo</a>
					#end
					#if(null!=sys_info.social_zhihu)
					<a class="zhihu" target="_blank" href="https://www.zhihu.com/people/${sys_info.social_zhihu}" title="zhihu">zhihu</a>
					#end
				</div>
				<p class="copyright text-muted">Copyright &copy; Blade Blog 2016</p>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/remarkable/1.6.2/remarkable.min.js"></script>
<script type="text/javascript" src="/static/js/clean-blog.js"></script>